@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header-container,
.main-container,
.card {
    width: 84%;
    max-width: 1440px;
    margin: 0 auto;
}

/* ---nav start from here-- */
nav {
    margin-top: 87px;
}

.menu {
    display: none;
}

.header-container .nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container .nav-heading {
    color: #3A3A3A;
    height: 3.26rem;
    font-size: 1.5rem;
    font-weight: 700;

}

.header-container .nav-container .nav-main {
    display: flex;
    gap: 2.125rem;

}

.nav-container .nav-main li {
    list-style: none;

}

/* ---banner start here--- */
.banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.banner .banner-content * {
    margin-bottom: 16px;
}

.banner .banner-content {
    margin: auto 0;
}

.banner .banner-heading {
    color: #3A3A3A;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    width: 582px;
    height: 133px;
    flex-shrink: 0;
}

.banner .banner-text {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    width: 505px;
    height: 60.9px;
}

.banner .banner-img {
    background-image: url("../style/images/Circle\ design.svg");
    width: 475px;
    height: 475px;
    border-radius: 400px;
}

.banner .banner-img img {
    width: 90%;
    padding: 30px 30px 30px 0px;
}

.banner .banner-btn {
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;

}

/* banner ends */
/* ---header ends--- */

/* ads section start */
.main-container {
    margin-top: 50px;
}

.main-container .ads {
    display: flex;
    /* border-top:5px solid  linear-gradient((90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%)); */
    justify-content: space-around;
    align-items: center;
    height: 110px;
    margin: 25px auto;
}

.main-container .ads span {
    max-height: 40px;
}

/* ads section ends here */

/* card section start here */
.card .card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    /* background-color: #E02C6D; */
}
.card>h3 {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin: 50px auto;
}

/* #card-1 {
    border: 2px solid yellowgreen;
} */

.card .card1 * {
    margin-bottom: 6px;
}

.card .card1 {
    width:350px;
    height: 476px;
    padding: 17px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}


.card .card1 .card-img img{
    width: 100%;
    border-radius: 5px;
}

.card .card1 .card-name {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.card .card1 .card-prize {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%
}

.card .card1 .card-rating {
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.card .card1 p {
    max-width: 196px;
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

@media screen and (max-width:576px) {
    .banner {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .menu {
        display: block;
    }

    .header-container .nav-container .nav-main {
        display: none;
    }

    .banner .banner-img {
        background-image: url("../style/images/Circle\ design.svg");
        margin: 0 auto;
        width: 257px;
        height: 257px;
        background-size: cover;
        border-radius: 257px;
    }

    .banner .banner-content {
        text-align: center;
    }

    .banner .banner-heading {
        max-width: 350px;
        color: #3A3A3A;
        /* text-align: center; */
        font-size: 28px;
        font-weight: 700;
    }

    .banner .banner-text {
        color: #3A3A3A;
        /* max-width: 321px;
        text-align: center;  */
        font-size: 14px;
        font-weight: 500;
        width: 300px;
        height: 65px;
        margin: 0 auto;
    }

    .main-container .ads {
        display: grid;

        grid-template-columns: repeat(4, 1fr);
    }

    .banner .banner-btn {
        margin-top: 10px;
    }

    .main-container .ads span {
        width: 51.167px;
        height: 15.241px;
        justify-self: center;
    }

    .main-container .ads span img {
        width: 100%
    }
    .card .card-container{
        display: flex;
        flex-direction: column;
        gap:30px;
        
    }
    .card .card1 {
        max-width:329px;
       
    }
    .card{
        max-width: 91%;
        margin:0 auto;
    }
}